@font-face {
  font-family: 'Titillium-Ultra';
  src: url(Titillium-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium-Bold';
  src: url(Titillium-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium-BoldItalic';
  src: url(Titillium-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium-Regular';
  src: url(Titillium-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium-Light';
  src: url(Titillium-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium-LightItalic';
  src: url(Titillium-LightItalic.ttf) format('truetype');
}
