.content.content-about-me {
    .content {
        &__container {
            width: 100%;
            margin: 0 auto;
            max-width: 768px;
            @media (min-width: 1024px) {
                max-width: 956px;
            }
            @media (min-width: 1200px) {
                max-width: 1156px;
            }
        }

        &__text-image.text-image {
            @media (min-width: 1024px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .text-image {
                &__text-container {
                    margin-bottom: 30px;
                    @media (min-width: 1024px) {
                        width: 50%;
                    }
                }

                &__headline {
                    font-size: 25px;
                    @media (min-width: 480px) {
                        font-size: 30px;
                    }
                    @media (min-width: 768px) {
                        font-size: 33px;
                    }
                    @media (min-width: 1024px) {
                        font-size: 42px;
                    }
                }

                &__subline {
                    font-size: 14px;
                    display: block;
                    margin: 0px 0px 18px;
                    @media (min-width: 768px) {
                        font-size: 16px;
                        margin: -6px 0px 18px;
                    }
                    @media (min-width: 1024px) {
                        font-size: 18px;
                    }
                }

                &__text {
                    line-height: 1.8;
                    font-size: 14px;
                }

                &__image-container {
                    padding-left: 8px;
                    padding-right: 8px;
                    @media (min-width: 1024px) {
                        width: 50%;
                    }
                }

                &__image {
                    display: block;
                    max-width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
            }
        }
    }
}