* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: "Titillium-Light";
}

body {
    min-width: 320px;
}

h1 {
    font-family: "Titillium-Ultra";
}

h2 {
    font-family: "Titillium-Bold";
}

ul,ol {
    list-style: none;
}

.fa {
    transition: 0.4s background ease-in-out;
    color: #F5F5F5;

    &-facebook {
        background: transparent;
        &:hover {
            background: #3B5998;
        }
    }

    &-youtube {
        background: transparent;
        &:hover {
            background: #bb0000;
        }
    }

    &-instagram {
        background: transparent;
        &:hover {
            background: #125688;
        }
    }
}
