.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 15px;
    z-index: 1040;
    border-bottom: 1px solid #F5F5F5;
    transition: all 0.4s ease-in-out;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;

        @media (min-width: 480px) {
            max-width: 480px;
        }

        @media (min-width: 768px) {
            max-width: 640px;
        }

        @media (min-width: 1024px) {
            max-width: 1156px;
        }
    }

    .logo {
        margin: 4px 0;
        padding: 0 15px;
        font-size: 20px;
        background-color: #F5F5F5;
        color: #222;
        border-radius: 2px;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 25px;
        }
    }

    .nav {
        position: fixed;
        top: 60px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #222;
        transform: translateX(-100%);
        transition: all 0.5s;

        @media (min-width: 768px) {
            top: 67px;
        }

        @media (min-width: 1024px) {
            background: none;
            position: static;
            width: auto;
            height: auto;
            transform: translateX(0);
            transition: none;
        }

        &__burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            width: 30px;
            height: 20px;
            margin-left: -24px;
            
            @media (min-width: 480px) {
                margin-left: -100px;
            }

            @media (min-width: 1024px) {
                display: none;
            }

            &.open {    
                .nav__line.nav__line--first {
                    transform: rotate(45deg);
                    margin-top: 10px;
                }
    
                .nav__line.nav__line--second {
                    display: none;
                }
    
                .nav__line.nav__line--third {
                    transform: rotate(-45deg);
                    margin-bottom: 8px;
                }
            }
        }

        &__line {
            display: block;
            height: 1px;
            opacity: 1;
            background-color: #F5F5F5;
            width: 100%;
            border-radius: 9px;
            transition: .25s ease-in-out;
        }

        &__list {
            width: 100%;
            height: 100%;
            max-width: 360px;
            margin: 0 auto;

            @media (min-width: 480px) {
                max-width: 520px;
            }

            @media (min-width: 768px) {
                max-width: 680px;
            }

            @media (min-width: 1024px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                max-width: none;
            }
        }

        &__item {
            margin: 12px 5px;
        }

        &__link {
            color: #F5F5F5;
            cursor: pointer;
            padding: 12px 15px;
            font-size: 14px;
            text-decoration: none;
            transition: 0.4s color ease-in-out;

            &:hover {
                color: #038fac;
            }
        }

        &.open {
            transform: translateX(0);
        }
    }
    
    .social-media-nav {
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__item {
            margin: 0 4px;
        }

        &__link {
            border-radius: 50%;
            border: 1px solid #F5F5F5;
            text-decoration: none;
            text-align: center;
            width: 30px;
            height: 23px;
            padding-top: 7px;
        }
    }

    &--dark.header {
        border-bottom: 1px solid #222;

        .logo {
            background-color: #222;
            color: #F5F5F5;
        }

        .nav__link {
            color: #222;
        }

        .nav__line {
            background-color: #222;
        }

        .social-media-nav__link {
            border: 1px solid #222;
            color: #222;
        }

        &.open {
            background-color: #222;
            border-bottom-color: #222;
            
            .logo {
                background-color: #F5F5F5;
                color: #222;
            }

            .nav__link {
                @media (min-width: 1024px) {
                    color: #F5F5F5;
                }
            }

            .nav__line {
                background-color: #F5F5F5;
            }

            .social-media-nav__link {
                border: 1px solid #F5F5F5;
            }

            .fa {
                color: #F5F5F5;
            }
        }
    }

    &.open {
        background-color: #F5F5F5;
        border-bottom-color: #F5F5F5;
        
        .logo {
            background-color: #222;
            color: #F5F5F5;
        }

        .nav__link {
            @media (min-width: 1024px) {
                color: #222;
            }
        }

        .nav__line {
            background-color: #222;
        }

        .social-media-nav__link {
            border: 1px solid #222;
        }

        .fa {
            color: #222;
            &:hover {
                color: #F5F5F5;
            }
        }
    }
}