.stage {
    background-image: url("../../images/wolf-bg.jpg");
    background-size: cover;
    background-position: top center;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 320px;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 320px;

        @media (min-width: 480px) {
            max-width: 480px;
        }
        @media (min-width: 768px) {
            max-width: 640px;
        }
        @media (min-width: 1024px) {
            max-width: 1156px;
        }
    }

    &__headline {
        font-size: 32px;
        color: #F5F5F5;
        width: 225px;
        padding-left: 20px;
        background-color: rgba(0,0,0,0.7);

        @media (min-width: 480px) {
            font-size: 35px;
            width: 240px;
        }
        @media (min-width: 768px) {
            font-size: 52px;
            width: 350px;
        }
        @media (min-width: 1024px) {
            font-size: 75px;
            width: 492px;
        }
    }

    &__subline {
        font-size: 20px;
        color: #F5F5F5;
        width: 225px;
        padding-top: 1px;
        padding-left: 20px;
        padding-bottom: 12px;
        background-color: rgba(0,0,0,0.7);
        margin-top: 0px;

        @media (min-width: 480px) {
            width: 240px;
        }
        @media (min-width: 768px) {
            font-size: 27px;
            width: 350px;
        }
        @media (min-width: 1024px) {
            width: 492px;
        }
    }
}