.content.content-about-me .content__container {
  width: 100%;
  margin: 0 auto;
  max-width: 768px; }
  @media (min-width: 1024px) {
    .content.content-about-me .content__container {
      max-width: 956px; } }
  @media (min-width: 1200px) {
    .content.content-about-me .content__container {
      max-width: 1156px; } }
@media (min-width: 1024px) {
  .content.content-about-me .content__text-image.text-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }
.content.content-about-me .content__text-image.text-image .text-image__text-container {
  margin-bottom: 30px; }
  @media (min-width: 1024px) {
    .content.content-about-me .content__text-image.text-image .text-image__text-container {
      width: 50%; } }
.content.content-about-me .content__text-image.text-image .text-image__headline {
  font-size: 25px; }
  @media (min-width: 480px) {
    .content.content-about-me .content__text-image.text-image .text-image__headline {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .content.content-about-me .content__text-image.text-image .text-image__headline {
      font-size: 33px; } }
  @media (min-width: 1024px) {
    .content.content-about-me .content__text-image.text-image .text-image__headline {
      font-size: 42px; } }
.content.content-about-me .content__text-image.text-image .text-image__subline {
  font-size: 14px;
  display: block;
  margin: 0px 0px 18px; }
  @media (min-width: 768px) {
    .content.content-about-me .content__text-image.text-image .text-image__subline {
      font-size: 16px;
      margin: -6px 0px 18px; } }
  @media (min-width: 1024px) {
    .content.content-about-me .content__text-image.text-image .text-image__subline {
      font-size: 18px; } }
.content.content-about-me .content__text-image.text-image .text-image__text {
  line-height: 1.8;
  font-size: 14px; }
.content.content-about-me .content__text-image.text-image .text-image__image-container {
  padding-left: 8px;
  padding-right: 8px; }
  @media (min-width: 1024px) {
    .content.content-about-me .content__text-image.text-image .text-image__image-container {
      width: 50%; } }
.content.content-about-me .content__text-image.text-image .text-image__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

/*# sourceMappingURL=about-me.css.map */
