.content {
  padding: 25px 12px; }
  @media (min-width: 480px) {
    .content {
      padding: 35px 12px; } }
  @media (min-width: 1024px) {
    .content {
      padding: 45px 12px; } }

/*# sourceMappingURL=content.css.map */
