.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 15px;
  z-index: 1040;
  border-bottom: 1px solid #F5F5F5;
  transition: all 0.4s ease-in-out; }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }
    @media (min-width: 480px) {
      .header__container {
        max-width: 480px; } }
    @media (min-width: 768px) {
      .header__container {
        max-width: 640px; } }
    @media (min-width: 1024px) {
      .header__container {
        max-width: 1156px; } }
  .header .logo {
    margin: 4px 0;
    padding: 0 15px;
    font-size: 20px;
    background-color: #F5F5F5;
    color: #222;
    border-radius: 2px;
    text-align: center; }
    @media (min-width: 768px) {
      .header .logo {
        font-size: 25px; } }
  .header .nav {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #222;
    transform: translateX(-100%);
    transition: all 0.5s; }
    @media (min-width: 768px) {
      .header .nav {
        top: 67px; } }
    @media (min-width: 1024px) {
      .header .nav {
        background: none;
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0);
        transition: none; } }
    .header .nav__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      width: 30px;
      height: 20px;
      margin-left: -24px; }
      @media (min-width: 480px) {
        .header .nav__burger {
          margin-left: -100px; } }
      @media (min-width: 1024px) {
        .header .nav__burger {
          display: none; } }
      .header .nav__burger.open .nav__line.nav__line--first {
        transform: rotate(45deg);
        margin-top: 10px; }
      .header .nav__burger.open .nav__line.nav__line--second {
        display: none; }
      .header .nav__burger.open .nav__line.nav__line--third {
        transform: rotate(-45deg);
        margin-bottom: 8px; }
    .header .nav__line {
      display: block;
      height: 1px;
      opacity: 1;
      background-color: #F5F5F5;
      width: 100%;
      border-radius: 9px;
      transition: .25s ease-in-out; }
    .header .nav__list {
      width: 100%;
      height: 100%;
      max-width: 360px;
      margin: 0 auto; }
      @media (min-width: 480px) {
        .header .nav__list {
          max-width: 520px; } }
      @media (min-width: 768px) {
        .header .nav__list {
          max-width: 680px; } }
      @media (min-width: 1024px) {
        .header .nav__list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          max-width: none; } }
    .header .nav__item {
      margin: 12px 5px; }
    .header .nav__link {
      color: #F5F5F5;
      cursor: pointer;
      padding: 12px 15px;
      font-size: 14px;
      text-decoration: none;
      transition: 0.4s color ease-in-out; }
      .header .nav__link:hover {
        color: #038fac; }
    .header .nav.open {
      transform: translateX(0); }
  .header .social-media-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header .social-media-nav__item {
    margin: 0 4px; }
  .header .social-media-nav__link {
    border-radius: 50%;
    border: 1px solid #F5F5F5;
    text-decoration: none;
    text-align: center;
    width: 30px;
    height: 23px;
    padding-top: 7px; }
  .header--dark.header {
    border-bottom: 1px solid #222; }
    .header--dark.header .logo {
      background-color: #222;
      color: #F5F5F5; }
    .header--dark.header .nav__link {
      color: #222; }
    .header--dark.header .nav__line {
      background-color: #222; }
    .header--dark.header .social-media-nav__link {
      border: 1px solid #222;
      color: #222; }
    .header--dark.header.open {
      background-color: #222;
      border-bottom-color: #222; }
      .header--dark.header.open .logo {
        background-color: #F5F5F5;
        color: #222; }
      @media (min-width: 1024px) {
        .header--dark.header.open .nav__link {
          color: #F5F5F5; } }
      .header--dark.header.open .nav__line {
        background-color: #F5F5F5; }
      .header--dark.header.open .social-media-nav__link {
        border: 1px solid #F5F5F5; }
      .header--dark.header.open .fa {
        color: #F5F5F5; }
  .header.open {
    background-color: #F5F5F5;
    border-bottom-color: #F5F5F5; }
    .header.open .logo {
      background-color: #222;
      color: #F5F5F5; }
    @media (min-width: 1024px) {
      .header.open .nav__link {
        color: #222; } }
    .header.open .nav__line {
      background-color: #222; }
    .header.open .social-media-nav__link {
      border: 1px solid #222; }
    .header.open .fa {
      color: #222; }
      .header.open .fa:hover {
        color: #F5F5F5; }

/*# sourceMappingURL=header.css.map */
