.stage {
  background-image: url("../../images/wolf-bg.jpg");
  background-size: cover;
  background-position: top center;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 320px; }
  .stage__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px; }
    @media (min-width: 480px) {
      .stage__container {
        max-width: 480px; } }
    @media (min-width: 768px) {
      .stage__container {
        max-width: 640px; } }
    @media (min-width: 1024px) {
      .stage__container {
        max-width: 1156px; } }
  .stage__headline {
    font-size: 32px;
    color: #F5F5F5;
    width: 225px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.7); }
    @media (min-width: 480px) {
      .stage__headline {
        font-size: 35px;
        width: 240px; } }
    @media (min-width: 768px) {
      .stage__headline {
        font-size: 52px;
        width: 350px; } }
    @media (min-width: 1024px) {
      .stage__headline {
        font-size: 75px;
        width: 492px; } }
  .stage__subline {
    font-size: 20px;
    color: #F5F5F5;
    width: 225px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 0px; }
    @media (min-width: 480px) {
      .stage__subline {
        width: 240px; } }
    @media (min-width: 768px) {
      .stage__subline {
        font-size: 27px;
        width: 350px; } }
    @media (min-width: 1024px) {
      .stage__subline {
        width: 492px; } }

/*# sourceMappingURL=stage.css.map */
